h1,h2 {
    color: lightcoral;
    background-color: aquamarine;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;

}
body{
    color: blue;
}
#t4{
    color: green;
    font-size: 20px;
    font-family: 'Lucida Sans';
}
.estilo1{
    color: rgb(219, 46, 219);
    font-style: italic;
    font-size: 25px;
}